<section class="state">
  <div class="grid-4col grid">
    {{#each status as | statusList |}}

      <div class="resource-column">
        {{#each statusList as | resource |}} 
          {{> "systems/BattleScarredVTT/templates/actor/parts/resource-container.hbs" resource=resource }}
        {{/each}}
      </div>
    {{/each}}
  </div>
</section>