<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  {{> "systems/BattleScarredVTT/templates/actor/parts/character-header.hbs" system=system actor=actor}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="status">Status</a>
    <a class="item" data-tab="gear">Gear</a>
    <a class="item" data-tab="codex">Codex</a>
    <a class="item" data-tab="perks">Perks</a>
    <a class="item" data-tab="bio">Bio</a>
    <a class="item" data-tab="notes">Notes</a>
    {{#if isGM}}
      <a class="item" data-tab="notes">GM</a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Owned Status Tab --}}
    <div class="tab status" data-group="primary" data-tab="status">
      {{> "systems/BattleScarredVTT/templates/actor/parts/character-status.hbs" system=system}}
      <section class="abilities">
        {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
        use both the "grid" and "grid-Ncol" class where "N" can be any number
        from 1 to 12 and will create that number of columns.  --}}
        <div class="abilities flexcol">
          {{#each abilities as |child key|}}
            <div class="abilityGroup">
              {{#each child.list as |ability key|}}
                {{> "systems/BattleScarredVTT/templates/actor/parts/ability.hbs" ability=ability key=key}}
              {{/each}}
              {{> "systems/BattleScarredVTT/templates/actor/parts/abilitySum.hbs" sum=child.sum}}
            </div>
          {{/each}}
        </div>
      </section>
    </div>

    {{!--Gear Tab --}}
    <div class="tab gear" data-group="primary" data-tab="gear">
       {{> "systems/BattleScarredVTT/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!--Codex Tab --}}
    <div class="tab codex" data-group="primary" data-tab="codex">
       {{> "systems/BattleScarredVTT/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Perks Tab --}}
    <div class="tab perks" data-group="primary" data-tab="perks">
      {{> "systems/BattleScarredVTT/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Bio Effects Tab --}}
    <div class="tab bio flexcol" data-group="primary" data-tab="bio">
      {{> "systems/BattleScarredVTT/templates/actor/parts/actor-effects.hbs"}}
    </div>
    {{!-- Notes Effects Tab --}}
    <div class="tab notes flexcol" data-group="primary" data-tab="notes">
      {{> "systems/BattleScarredVTT/templates/actor/parts/actor-effects.hbs"}}
    </div>
    {{!-- GMs Tab --}}
    <div class="tab gm flexcol" data-group="primary" data-tab="gm">
      {{> "systems/BattleScarredVTT/templates/actor/parts/actor-effects.hbs"}}
    </div>
  </section>
</form>

